.navigation-cp {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    background: #FFF;
    flex-direction: row;
    height: auto;
}

.nav-link {
    color: #000;
    margin: 0 15px;
    text-decoration: none;
    font-family: Inter, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.nav-home {
    color: white;
    background-color: #000;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 15px;
    text-decoration: none;
    font-family: Inter, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-link:hover {
    text-decoration: underline;
    color: gray;
}

@media (min-width: 601px) {
    .navigation-cp {
        justify-content: flex-end;
    }

    .toggle-navbar {
        display: none;
    }

    .nav-link, .nav-home {
        margin: 0 15px;
    }
}

@media (max-width: 600px) {
    .navigation-cp {
        flex-direction: column;
    }

    .nav-link, .nav-home {
        margin: 5px 0;
        padding: 5px;
        width: 100%;
        text-align: center;
        display: block;
    }

    .toggle-navbar {
        order: -1;
        display: block;
        width: 100%;
        background: #000;
        color: white;
        text-align: center;
        padding: 10px;
        cursor: pointer;
        border: none;
        font-size: 15px;
        margin-bottom: 10px;
    }

    .nav-hidden {
        display: none;
    }
}