.homepage {
    text-align: center;
    padding: 20px;
}

.main-content {
    text-align: center;
    padding: 20px;
}

.title {
    margin-top: 150px;
    font-size: 2.5rem;
    color: #000000;
}

.subtitle {
    font-size: 1.2rem;
    color: #828282;
}

.map-container {
    height: 600px;
    margin: 20px auto;
}
.cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cta,
.cta1,
.cta2 {
    display: flex;
    width: 220px;
    height: 100px;
    padding: 20px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-size: cover;
    text-align: center;
    flex: 0 0 auto;
}

.cta {
    background-image: url('images/CountriesbyName.png');
}

.cta1 {
    background-image: url('images/CountriesbyRegion.png');
}

.cta2 {
    background-image: url('images/CountriesbyDemographics.png');
}

.cta:hover {
    background-color: #0056b3;
}


@media (max-width: 768px) {
    .navigation {
        flex-direction: column;
    }

    .nav-link {
        margin-bottom: 10px;
    }
}
